<!DOCTYPE html>
<html lanng="es">
   <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hola Mundo</title>
        <meta name="description" content="Hola Mundo con AngularJS">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="./node_modules/angular/angular.min.js"></script>
    </head>
    <body ng-app ng-init="sName='Alejandro'; sCurso='AngularJS'">
       <header>
            <h1>Hola Mundo</h1>
        </header>
        <article>
            <p>
                <label for="name">Dime tu nombre</label>
                <input id="name" type="text" ng-model="sName">
            </p>
            <p>
                <button ng-click="sName=''">Borrar</button>
            </p>
            <p>
                Hola {{sName}}
            </p>
        </article>
        <footer>
            <p>Curso de {{sCurso}}, profesor {{sName}} </p>
        </footer>
    </body>
</html>